@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --primary: #CEE1ED;
  --dark: #0a3b49;
  --light: #5196c0;
  --gray: #69c2dd;
  --infotjenester: #a1c8de;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  color: var(--dark);
}

body {
  background: var(--infotjenester);
  margin: 30px 50px;
  line-height: 1.4;
}